// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product img{
  width: 200px;
}

.product .panel:hover{
  background-color: #E8E8E8;
}

.product .price{
  font-size: 20px;
  color: red;
}