<p>Olá <%= @resource.email %>!</p>

<p>Você clicou no link de esqueci minha senha. Para continuar clique no link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a troca de senha, favor desconsiderar esta mensagem.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>
